#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  letter-spacing: 1px;
  font-size: 0.8rem;
}

button{
  margin-left: 5px;
  color: rgb(0, 1, 5);
  padding: 5px 15px;
  font-size: 15px; 
}